<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materialien hinzufügen</title>
    <th:block th:include="masterpage/masterpage.html :: assets"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/therapyrooms/therapyrooms.js"></script>
</head>

<body class="bg-light">
<div th:replace="/masterpage/masterpage.html :: menu"/>
<div class="container">
    <main>
        <h2>Informationen</h2>
        <a type="button" class="w-100 btn btn-primary btn-lg" href="/admin/therapyrooms" >Liste anzeigen</a>
        <div class="py-5 text-center">
            <a href="/admin/mat1"><img class="d-block mx-auto mb-4" src="/therapyrooms/gold.png" alt="" width="300" height="250"></a>
            <a href="/admin/mat2"><img class="d-block mx-auto mb-4" src="/therapyrooms/metall.png" alt="" width="300" height="250"></a>
            <a href="/admin/mat3"><img class="d-block mx-auto mb-4" src="/therapyrooms/kupfer.png" alt="" width="300" height="250"></a>

        </div><br><br><br><br><br><br><br>
    </main>
</div>

<section th:replace="/masterpage/masterpage.html :: footer"/>
</body>

</html>